/* 테이블 */
.employee-table { width: 100%; border-collapse: collapse; margin-top: 20px; } 
.employee-table th, .employee-table td { border: 1px solid #ddd; padding: 8px; text-align: left; } 
.employee-table th { background-color: #f2f2f2; } 
.employee-table tr:hover { background-color: #f1f1f1; background-color: #ffdb0036; } 
.employee-table a { color: blue; text-decoration: underline; } 

.filter-button { background-color: #007CC1; color: white; padding: 6px 15px; margin: 5px; margin-right: 10px; border: none; cursor: pointer; border-radius: 5px; } 
.filter-button:hover { background-color: #005a91; } 