.menu_order .box { padding: 5px 12px; margin-left: 5px; } 
.orderDetail-title h3 { font-size: 18px; font-weight: bold; color: #333333; letter-spacing: -0.1px; padding-bottom: 16px; border-bottom: 1px solid #999999; margin: 26px 0 0; position: relative; } 
.order-detail-container { padding: 20px; } 
.form-row { display: flex; flex-wrap: wrap; gap: 15px; margin-right: 460px; } 
.form-group { flex: 1 1 30%; display: flex; align-items: center; } 
.form-group label { margin-right: 8px; font-weight: 500; color: #333; } 
.order-detail-container
.form-group > input { width: 50%; margin-left: 20px; } 
/* .employee-name { margin-left: 20px; } */
.readonly { background-color: #e9ecef; border: 1px solid #ddd; cursor: not-allowed; width: 118px; } 
.manager { border: 0px; background-color: #f5f5f5; } 
.gray-background { background-color: #f5f5f5; } 
.product-table { position: relative; margin-top: 20px; } 
.styled-table { border-collapse: collapse; width: 100%; background-color: #ffffff; /*order: 1px solid #dddddd; */ } 
.styled-table th, .styled-table td { padding: 7px 7px; text-align: center; /*border: 1px solid #dddddd; */ } 
/* .styled-table tbody tr:last-of-type { border-bottom: 2px solid #0058A3; } */
.product-name-cell { display: flex; } 
.add-button { position: absolute; top: -30px; right: 0; background-color: #007CC1; color: white; padding: 1px 8px; border: none; cursor: pointer; border-radius: 5px; } 
.status-button { background-color: #f5f5f5; border: none; cursor: not-allowed; color: #555; padding: 5px 10px; text-align: center; } 
.total-amount { margin-top: 20px; font-weight: bold; } 
.total-amount span { color: #0058A3; } 
.orderDetail-button { display: flex; justify-content: center; gap: 10px; margin-top: 10px; } 
.orderDetail-button > button { padding: 5px; border-radius: 5px; color: white; text-align: center; border: none; } 
.orderDetail-edit { background-color: #007CC1; } 
.orderDetail-close { background-color: gray; } 
.order-buttons { display: flex; justify-content: center; margin-bottom: 19px; margin-top: 19px; } 
.order-buttons .close-btn { background-color: gray; } 
.order-buttons i { font-size: 13px; } 
.search-button { margin-left: 5px; } 
.orderHtotal-price { margin-left: 10px; font-weight: bold; } 
/*모달 시작*/
.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f9f9f9; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); width: 60%; z-index: 1000; padding: 20px; } 
.modal-header { display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; border-bottom: 1px solid #ccc; margin-bottom: 15px; } 
.modal-header h4 { margin: 0; } 
.modal-content { display: flex; flex-direction: column; gap: 15px; } 
.category-selectors, .search-fields { display: flex; gap: 10px; } 
.category-selectors select, .search-fields input { padding: 8px; border: 1px solid #ccc; background-color: #fff; font-size: 14px; width: 250px; } 
.search-modal { padding: 8px; background-color: #007bff; color: white; border: none; border-radius: 2px; cursor: pointer; font-size: 13px; } 
.search-results-table { width: 100%; border-collapse: collapse; margin-top: 10px; font-size: 14px; text-align: left; } 
.search-results-table th, .search-results-table td { border: 1px solid #ddd; padding: 10px; } 
.search-results-table th { background-color: #f1f1f1; font-weight: bold; text-align: center; } 
.search-results-table tbody tr:hover { background-color: #f9f9f9; cursor: pointer; } 
.search-results-table td { text-align: center; } 
.close-modal { background: none; border: none; color: #333; font-size: 20px; cursor: pointer; line-height: 1; padding: 0; transition: color 0.3s; } 
.close-modal:hover { color: #007bff; } 
.close-modal:focus { outline: none; } 
input[readonly], select[readonly], input:disabled, select:disabled { background-color: #fafafa; } 
/* 스피너 */
.table_wrap { position: relative; height: 100px; /* Adjust height as needed */ } 
.loading { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; gap: 10px; } 
.loading span { display: inline-block; width: 13px; height: 13px; background-color: gray; border-radius: 50%; animation: loading 1s 0s linear infinite; } 
.loading span:nth-child(1) { animation-delay: 0s; background-color: #0058A3; } 
.loading span:nth-child(2) { animation-delay: 0.2s; background-color: rgba(29, 104, 168, 0.78); } 
.loading span:nth-child(3) { animation-delay: 0.4s; background-color: rgba(70, 124, 168, 0.6); } 
@keyframes loading { 0%, 100% { opacity: 0; transform: scale(0.5); } 
50% { opacity: 1; transform: scale(1.2); } 
 }
.order-status { display: inline-block; padding: 5px 10px; border-radius: 15px; font-weight: 400; font-size: 14px; color: white; padding: 5px 10px; border-radius: 4px; font-size: 12px; font-weight: 500; } 
.order-status.ing { background-color: #f0ad4e; /* 주황색 (결재중) */ } 
.order-status.denied { background-color: #d9534f; /* 빨간색 (반려) */ } 
.order-status.approved { background-color: #5cb85c; /* 초록색 (결재완료) */ } 
.styled-table { width: 100%; border-collapse: collapse; table-layout: fixed; flex-grow: 1; } 
.styled-table thead, .styled-table tfoot { width: 100%; } 
.styled-table tbody { display: block; overflow-y: auto; max-height: 530px; width: 100%; } 
.styled-table tbody tr { display: table; width: 100%; table-layout: fixed; } 
.table_footer_wrapper { position: relative; height: 45px; border: 1px solid #dddddd; border-top: none; } 
.table_footer_wrapper span { color: #0058A3; } 