
header {
    background-color: #0058A3;
    padding: 15px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    margin-left: 38px;
    margin-right: 50px;
}

.logo img {
    height: 50px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notifications {
    position: relative;
}

.profile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffcc00;
    transition: border-color 0.3s ease;
}

.profile-pic:hover {
    border-color: #ffffff;
}

.profile-username {
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 0.8rem;
}

.username:hover {
    color: #ffcc00;
}
.bell-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.teamname{
    font-size: 10px;
}

.bottom-border {
    width: 100%;
    height: 1px;
    background-color: #dfdfe5;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    overflow: hidden;
}
