/* src/components/Layout.css */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff');
    font-display: swap;
}

body, html {
    font-family: "Pretendard", sans-serif;
}

* { margin : 0; padding : 0; box-sizing: border-box; }
a { text-decoration : none; color : black; }
ul, li, ol, dl, dd { list-style: none; margin: 0; }
img { max-width: 100%; height: auto; border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

input[type="checkbox"] { cursor: pointer; }
button { appearance: none; border: 0; background: transparent; font: inherit; outline: none; cursor: pointer; }
button:disabled { cursor: default; }
label { margin: 0; font-weight: normal; }
p { margin: 0; }
.container { padding: 0; }
.input-field { transition: all 0.3s ease; }
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus { outline: none; }

/* select 스타일 추가 */
select {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 7px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* body에서 스크롤이 생기지 않도록 설정 */
}

#root, .container {
    display: flex;
    flex-direction: column;
    height: 100%; /* 전체 화면을 차지하도록 설정 */
}

.main-container {
    display: flex;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    overflow: hidden; /* 내부에서만 스크롤이 발생하게 설정 */
}

.main-content{
    background: #fff;
    padding: 30px;
    inset: 10px;
    overflow: hidden;
    width: 90%;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    overflow-y: scroll; /* main-content에서 세로 스크롤을 활성화 */
    box-sizing: border-box;
    height: 100%; /* main-content가 전체 높이를 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.main-content.dashboard-container {
    background: #f5f5f5; /* 메인 대시보드 화면만 회색 배경 적용 */
}

/* 웹킷(WebKit) 기반 브라우저 (크롬, 사파리 등) */
::-webkit-scrollbar {
    width: 12px; /* 스크롤바 너비 */
    height: 12px; /* 수평 스크롤바 높이 */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모서리 둥글게 */
    border: 3px solid #fff; /* 스크롤바 안쪽 패딩 */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤 트랙(배경) 색상 */
    border-radius: 10px;
}

/* 마우스로 스크롤바를 누르고 있을 때 */
::-webkit-scrollbar-thumb:active {
    background-color: #555; /* 누를 때 색상 */
}
