
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 구성 */
    grid-gap: 20px; /* 카드 간격 */
    padding: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-large {
    grid-column: span 1; /* 1열만 차지 */
}

.card-full {
    grid-column: span 3; /* 전체 너비를 차지 */
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}
.orderstatus {
    padding: 20px;
    border: 1px solid #ddd;
}

.orderstatus > p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.info-group {
    padding: 30px;
}


.info-group p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #555;
}
.image-container {
    display: flex; /* 이미지들을 수평으로 배치합니다. */
    justify-content: center; /* 이미지들을 가로 중앙에 정렬합니다. */
    align-items: center; /* 이미지들을 세로 중앙에 정렬합니다. */
}

.logo-image {
    margin: 0 10px; /* 이미지 사이에 간격을 추가합니다. */
    max-height: 100px; /* 이미지의 최대 높이를 설정하여 크기를 조정합니다. */
    display: block; /* 이미지가 블록 요소로 다루어지도록 설정합니다. */
}
