/* src/components/Layout.css */
body { margin: 0; height: 100vh; } 
.login-container { background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center; position: relative; /* 로그인 박스를 최상단으로 배치하기 위해 절대 위치 지정 */}
.login-box { background-color: white; padding: 2rem; border-radius: 10px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); width: 400px; text-align: center; position: absolute; /* 로그인 박스를 최상단으로 올리기 위해 절대 위치 지정 */
 z-index: 1; /* 다른 요소보다 위에 표시되도록 설정 */}
.login-header { margin-bottom: 20px; } 
.logo { width: 100px; margin-bottom: 10px; } 
h1 { color: #003399; font-size: 1.5rem; margin-bottom: 20px; font-weight: 600; } 
.login-form { display: flex; flex-direction: column; gap: 15px; } 
.input-group { text-align: left; } 
.input-group label { display: block; font-size: 0.9rem; margin-bottom: 5px; color: #555; font-weight: 500; } 
.input-group input { width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 0.8rem; } 
.login-btn { background-color: #003399; color: white; padding: 10px; border: none; border-radius: 5px; cursor: pointer; font-size: 1rem; transition: all 0.3s ease; /* 모든 속성에 전환 효과 적용 */}
.login-btn:hover { background-color: #0055cc; } 
.login-footer { margin-top: 20px; font-size: 0.85rem; } 
.login-footer a { color: #003399; text-decoration: none; margin: 0 5px; } 
.login-footer a:hover { text-decoration: underline; } 
.login-footer p { margin-top: 13px; color: #777; font-size: 0.75rem; font-weight: 500; }
.recaptcha-container {
 display: flex;
 justify-content: center;
}
