<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageName}]]</title>

    <link rel="icon" th:href="@{/img/favicon.ico}" />

</head>
<body>

<div th:if="${session.user != null}" id="root"></div>
<div th:unless="${session.user != null}">
    <script>
        location.href='/login';
    </script>
</div>
<script th:src="@{'/bundle/' + ${pageName} + '.bundle.js'}"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>[[${pageName}]]</title>-->

<!--    <link rel="icon" th:href="@{/img/favicon.ico}" />-->

<!--</head>-->
<!--<body>-->

<!--    [[${session.user}]]-->
<!--    <div id="root" th:if="${session.user != null}"></div>-->
<!--    <div th:unless="${session.user != null}">접근불가능합니다</div>-->


<!--    <script th:src="@{'/bundle/' + ${pageName} + '.bundle.js'}"></script>-->

<!--</body>-->
<!--</html>-->