.menu_product_price .menu_title h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    letter-spacing: -0.1px;
    padding-bottom: 16px;
    border-bottom: 1px solid #999999;
    margin: 26px 0 0;
    position: relative;
}

.menu_product_price .menu_content {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.menu_product_price .menu_content .search_wrap {
}

.menu_product_price .menu_content .list_count_wrap {
}

.menu_product_price .menu_content .table_wrap {
    position: relative;
    margin-top: 20px;
}

.menu_product_price .menu_content .table_wrap table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.menu_product_price .menu_content .table_wrap table td {
    padding: 7px 7px;
    text-align: center;
    border: 1px solid #dddddd;
}

.menu_product_price .menu_content .table_wrap table tbody tr:last-of-type {
    border-bottom: 2px solid #0058A3;
}
