.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.modal-close:hover {
    color: #0058A3;
}

.product-detail-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*label {*/
/*    font-weight: bold;*/
/*    width: 120px;*/
/*    text-align: right;*/
/*    margin-right: 10px;*/
/*}*/

input[type="text"] {
    flex-grow: 1;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-inputs {
    display: flex;
    gap: 10px;
}

.category-item {
    background-color: #f5f5f5;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.transaction-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: center;
}

.transaction-table th, .transaction-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.modal-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-close-bottom {
    background-color: #0058A3;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-close-bottom:hover {
    background-color: #004080;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}

.form-group label {margin-right: 5px;}
