
.middle-container .approval-select {
    height: 32px;
    font-size: 15px;
    width: 10%;
}

.middle-container .search-box {
    height: 32px;
    font-size: 13px;
    margin-left: 7px;
    width: 70%;
}

.middle-container .search-button {
    background-color: #0058A3; /*이케아 네이비*/
    color: white;
    margin-left: 5px;
    width: 10%;
    /*height: 90%;*/
}

.middle-container .approval-filter {
    height: 50px;
    padding: 13px 1px;
    /*border: 1px solid black;*/
}

.approval-filter .btn1, .btn2, .btn3, .btn4 {
    background-color:  #0058A3;
    color: white;
    padding: 7px;
    border-radius: 1px;
    border: none;
    font-size: 15px;
}

.approval-filter .btn2, .btn3, .btn4 {
    margin-left: 10px;
}

/*바텀 박스 (테이블, 페이지, 바텀 버튼)*/

.bottom-container {
    /*border: 1px solid black;*/
    margin-top: 20px;
}

.bottom-container .btn-add {
    margin-right: 5px;
    background-color: #007CC1;
    color: white;
    border-color: #007CC1;
}

.bottom-container .btn-add:hover {
    background-color: #024e7a;
}

.bottom-container label {
    display: flex;
}

.bottom-container p {
    display: inline;
    margin-right: 10px;
}

.bottom-container .approval-list {
    border: 1px solid;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    height: 100%;
}

.bottom-container .approval-list tr {
    height: 50px;
    padding: 4px;
}

.bottom-container .approval-list tbody tr:hover {
    background-color: rgba(255, 237, 112, 0.75);
    background-color: #ffdb0036; /* 이케아 노란색 */
}

.selected {
    background-color: #ffdb0036; /* 이케아 노란색 */
}

.edit-mode-active,
.edit-mode-active:hover {
    background-color: rgba(208, 208, 208, 0.34) !important;
}

.bottom-container .approval-list .approval-list-content {
    text-align: center;
}

.bottom-container .approval-page {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-size: 10px;
}

.bottom-container .approval-page button {
    padding: 5px;
    font-size: 16px;
    margin-left: 7px;
}

.bottom-container .bottom-button {
}

.bottom-container .bottom-button .approval-button,
.bottom-container .bottom-button .delete-button,
.bottom-container .bottom-button .print-button {
    background-color: #0058A3;
    color: white;
    margin-left: 3px;
    height: 35px;
    padding: 8px 2px;
    width: 50px;
    line-height: 100%;
}

.bottom-container .bottom-button .delete-button,
.bottom-container .bottom-button .print-button {
    margin-left: 10px;
}

.filter-button {
    background-color: #007CC1;
    color: white;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.filter-button:hover {
    background-color: #005a91; /* 호버 시 조금 더 어두운 색으로 변경 */
}

.bottom-container .approval-list a {
    color: #007CC1; /* 하늘색 */
    text-decoration: underline; /* 밑줄 추가 */
    cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
}

.bottom-container .approval-list a:hover {
    color: #005a91; /* 호버 시 색상 변경 */
}

.product-edit-button {
    background-color: #007CC1;
    color:white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 6px 15px;
}

.product-confirm-button {
    background-color: rgba(255, 219, 0, 0.61);
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 6px 15px;
}


