/* product/ProductPrice.css */
/* 🔴 개별 열 너비 지정 */
.menu_price .table_wrap table th:nth-child(1),
.menu_price .table_wrap table td:nth-child(1) { width: 3%; /* 체크박스 */ } 
.menu_price .table_wrap table th:nth-child(2),
.menu_price .table_wrap table td:nth-child(2) { width: 4%; /* 번호 */ } 
.menu_price .table_wrap table th:nth-child(3),
.menu_price .table_wrap table td:nth-child(3) { width: 12%; /* 고객사 */ } 
.menu_price .table_wrap table th:nth-child(4),
.menu_price .table_wrap table td:nth-child(4) { width: 17%; /* 상품 */ } 
.menu_price .table_wrap table th:nth-child(5),
.menu_price .table_wrap table td:nth-child(5) { width: 10%; /* 가격 */ } 
/* .menu_price .table_wrap table th:nth-child(6),
.menu_price .table_wrap table td:nth-child(6) { width: 21%; 적용기간 }  */
.menu_price .table_wrap table th:nth-child(7),
.menu_price .table_wrap table td:nth-child(7) { width: 9%; /* 등록일시 */ } 
.menu_price .table_wrap table th:nth-child(8),
.menu_price .table_wrap table td:nth-child(8) { width: 9%; /* 수정일시 */ } 
.menu_price .table_wrap table th:nth-child(9),
.menu_price .table_wrap table td:nth-child(9) { width: 9%; /* 수정일시 */ } 
.menu_price .table_wrap table th:nth-child(10),
.menu_price .table_wrap table td:nth-child(10) { width: 6%; /* 액션 */ } 